[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gabriel Silva (CGSILVA)
[access "refs/for/refs/*"]
	read = group user/Gabriel Silva (CGSILVA)
	push = group user/Gabriel Silva (CGSILVA)
	label-Code-Review = -2..+2 group user/Gabriel Silva (CGSILVA)
	label-Verified = -1..+1 group user/Gabriel Silva (CGSILVA)
	rebase = group user/Gabriel Silva (CGSILVA)
	removeReviewer = group user/Gabriel Silva (CGSILVA)
	submit = group user/Gabriel Silva (CGSILVA)
[access "refs/heads/*"]
	read = group user/Gabriel Silva (CGSILVA)
	read = group user/Victor Rattis (victorrattis)
	read = group user/haldny
	create = group user/Gabriel Silva (CGSILVA)
	create = group user/Victor Rattis (victorrattis)
	create = group user/haldny
	push = group user/Gabriel Silva (CGSILVA)
	push = group user/Victor Rattis (victorrattis)
	push = group user/haldny
	pushMerge = group user/Gabriel Silva (CGSILVA)
	pushMerge = group user/Victor Rattis (victorrattis)
	pushMerge = group user/haldny
	label-Code-Review = -2..+2 group user/Gabriel Silva (CGSILVA)
	label-Code-Review = -2..+2 group user/Victor Rattis (victorrattis)
	label-Code-Review = -2..+2 group user/haldny
	label-Verified = -1..+1 group user/Gabriel Silva (CGSILVA)
	label-Verified = -1..+1 group user/Victor Rattis (victorrattis)
	label-Verified = -1..+1 group user/haldny
[access "refs/tags/*"]
	push = group user/Gabriel Silva (CGSILVA)
	push = +force group user/Gabriel Silva (CGSILVA)
[project]
	description = CESAR Hay Project
